<footer class="bg-main-light py-4 w-100">
  <div class="container">
    <h2>Get the FreshCart app</h2>
    <p class="text-muted">we will send you a link, open it on your phone to download the app.</p>
    <div class="d-flex">
      <input type="text" class="form-control me-5" placeholder="Email..">
      <button class="btn bg-main px-3 ms-auto d-block flex-shrink-0 text-white ">
        <span > Share App Link</span></button>
    </div>
    <hr>
    <h3 class="h6 text-center text-muted">© Nouran 2024. Design by ME</h3>
  </div>
</footer>
