<section *ngIf="categories.length > 0" class="container py-5">

  <div class="row  g-4 g-xl-3">
    <div *ngFor="let category of categories " class="col-sm-6 col-lg-3">
      <div class="product h-100 px-xl-1 overflow-hidden" >
        <a href="" class="text-decoration-none " [routerLink]="['/categories',category._id]">
        <img height="250"  class="w-100" [src]="category.image" [title]="category.name" [alt]="category.name">
        <h3 class="small pt-3 text-center">{{category.name}}</h3>
        </a>

      </div>
    </div>
  </div>

</section>
