<section class="w-75 mx-auto rounded shadow bg-main-light p-3 my-5 ">
  <h2 class="fw-semibold h4 my-3">CheckOut session</h2>
  <form  [formGroup]="orderForm" (ngSubmit)="handleForm()">
  <div class="form-item">
    <label for="details">details</label>
    <input type="text" id="details" formControlName="details" class="form-control">
  </div>
  <div class="form-item">
    <label for="phone">phone</label>
    <input type="tel" id="phone" formControlName="phone" class="form-control">
  </div>
  <div class="form-item">
    <label for="city">city</label>
    <input type="text" id="city" formControlName="city" class="form-control">
  </div>
  <button class="btn bg-main fw-semibold small text-white text-center my-3">Checkout</button>
</form>
</section>
